* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  line-height: 1.7;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.main {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8vh;
  padding: 20px;
  padding-top: 30px;
  font-size: 1.1em;
}
.header-title {
  color: #4b0779;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
.header-title span {
  color: #49b1ee;
}
.header-bars {
  font-size: 1.4em;
  color: #4b0779;
}
.header-socials {
  display: none;
  font-size: 1.5em;
  margin-right: 1%;
}
.header-socials-git {
  margin: 0px 5px;
  color: #4b0779;
}
.header-socials-twitter {
  margin: 0px 5px;
  color: #49b1ee;
}

.navbar {
  display: none;
  margin-right: 5%;
}
.navbar-list li {
  margin: 0px 8px;
  text-align: center;
  display: inline-block;
}
.navbar-list li a {
  font-size: 1.1em;
}

.sidebar {
  width: 100%;
  height: 0vh;
  position: fixed;
  top: 0vh;
  left: 0px;
  background-color: #f6f2f8;
  overflow: hidden;
  transition: 0.5s ease-out;
}
.sidebar-times {
  font-size: 1.4em;
  color: #4b0779;
  margin-top: 40px;
  right: 20px;
  position: absolute;
}
.sidebar-list {
  text-align: center;
  margin-top: 35vh;
}
.sidebar-list-item {
  margin: 40px;
}
.sidebar-list-item a {
  color: #49b1ee;
  font-size: 1.3em;
}
.sidebar-list-item a:hover {
  color: #4b0779;
}

.show-sidebar {
  height: 100%;
}

.section {
  width: 90%;
  margin: 60px auto;
}
.section-header {
  margin-bottom: 40px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  color: #4b0779;
}
.section .line {
  width: 80px;
  height: 5px;
  background-color: #4b0779;
  margin: 2px auto;
}

.home-main-img {
  display: none;
}
.home-main-text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8em;
}
.home-main-text span {
  color: #49b1ee;
  font-size: 1.5em;
}

.about .info {
  margin-bottom: 25px;
}
.about .info-title {
  color: #49b1ee;
  font-size: 1.8em;
  margin-bottom: 15px;
}
.about .aside {
  background-color: #f5f8fa;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #777;
  transition: 0.4s ease-out;
}
.about .aside-img {
  width: 100%;
  height: 35vh;
  border-radius: 10px 10px 0px 0px;
}
.about .aside-details {
  padding: 10px;
}
.about .aside-title {
  color: #49b1ee;
  font-size: 1.4em;
}

.projects .project {
  margin: 50px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 3px 3px 5px #777;
  padding-bottom: 8px;
  transition: 0.4s ease-out;
}
.projects .project-img {
  width: 100%;
  height: 25vh;
  border-radius: 8px 8px 0px 0px;
}
.projects .project-details {
  text-align: center;
  padding: 5px;
  line-height: 1.8;
}
.projects .project-details h3 {
  font-size: 1.6em;
  color: #49b1ee;
}
.projects .project-tech {
  margin: 5px;
}
.projects .project-tech p {
  color: #4b0779;
  padding: 3px;
  border-radius: 5px;
  display: inline;
  margin: 10px;
}
.projects .project-repo {
  background-color: #008cff;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.1em;
}
.projects .project-repo .logo {
  font-size: 1.4em;
}

.contact-group {
  margin: 0px auto;
  margin-bottom: 40px;
  text-align: center;
  background-color: #f5f8fa;
  padding: 20px;
  font-size: 1.2em;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #777;
  transition: 0.4s ease-out;
}
.contact-group h4 {
  font-size: 1.3em;
  margin-bottom: 20px;
  color: #49b1ee;
}

.scale:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 8px #444;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.footer-socials {
  font-size: 1.5em;
}
.footer-socials-git {
  margin: 5px;
  color: #fff;
}
.footer-socials-twitter {
  margin: 5px;
  color: #49b1ee;
}

@media (min-width: 800px) {
  .header {
    padding-left: 5%;
  }
  .header-link {
    display: inline-block;
    margin-left: 20px;
  }
  .header-title {
    font-size: 2.3em;
  }
  .header-bars {
    display: none;
  }
  .header-socials {
    display: inline-block;
  }
  .header .navbar {
    display: flex;
    font-size: 1.2em;
  }

  .sidebar {
    display: none;
  }

  .home-main {
    margin-left: 15%;
    display: flex;
    justify-content: space-between;
  }
  .home-main-img {
    width: 40%;
    display: block;
  }
  .home-main-text {
    width: 30%;
    align-self: center;
    font-size: 2.3em;
  }

  .about .info-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .about .aside {
    flex-basis: 48%;
  }
  .about .bio-aside {
    display: flex;
    justify-content: center;
  }
  .about .bio-aside-img {
    width: 30%;
    height: 37vh;
    border-radius: 10px 0px 0px 10px;
  }
  .about .bio-aside-details {
    width: 70%;
    border-radius: 0px 10px 10px 0px;
  }

  .projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .projects .project {
    margin: 5px;
    margin-bottom: 30px;
    flex-basis: 47%;
  }

  .contact-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .contact-group {
    width: 45%;
  }
  .contact-group h4 {
    margin-bottom: 40px;
  }
}
@media (min-width: 1165px) {
  .header-title {
    font-size: 2.5em;
  }
  .header .navbar {
    font-size: 1.4em;
  }
  .header .navbar-list li {
    margin: 0px 12px;
  }

  .home-text {
    font-size: 2.5em;
  }

  .about .aside {
    flex-basis: 31%;
  }
  .about .bio {
    width: 70%;
    margin: 20px auto;
  }

  .projects .project {
    margin: 5px;
    flex-basis: 31%;
  }

  .contact-group {
    width: 40%;
  }
}

/*# sourceMappingURL=index.css.map */
