$primary-color: rgb(75, 7, 121);
$primary-bg: rgb(242, 238, 245);
$secondary-color: rgb(73, 177, 238);
$secondary-bg: rgb(235, 240, 243);

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}

.main {
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8vh;
  padding: 20px;
  padding-top: 30px;
  font-size: 1.1em;

  &-img {
    width: 100%;
  }
  &-title {
    color: $primary-color;
    span {
      color: $secondary-color;
    }
  }
  &-bars {
    font-size: 1.4em;
    color: $primary-color;
  }
}

.navbar {
  display: none;
}

.sidebar {
  width: 100%;
  height: 0vh;
  position: absolute;
  top: 0vh;
  left: 0px;
  background-color: $primary-bg;
  overflow: hidden;
  transition: 0.5s ease-out;
  &-times {
    font-size: 1.4em;
    color: $primary-color;
    margin-top: 40px;
    right: 20px;
    position: absolute;
  }
  &-list {
    text-align: center;
    margin-top: 50%;
    &-item {
      margin: 40px;
      a {
        color: $secondary-color;
        font-size: 1.3em;
      }
      a:hover {
        color: $primary-color;
      }
    }
  }
}

.show-sidebar {
  height: 100vh;
}

.section {
  width: 90%;
  margin: 60px auto;
  &-header {
    text-align: center;
  }
  .line {
    width: 60px;
    height: 6px;
    background-color: $primary-color;
    margin: 3px auto;
  }
}

.home {
  &-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.8em;
    span {
      color: $secondary-color;
      font-size: 1.5em;
    }
  }
}

.about {
  margin-top: 40px;
  .info {
    margin-top: 40px;
    margin-bottom: 25px;
    &-title {
      color: $secondary-color;
      font-size: 1.8em;
      margin-bottom: 15px;
    }
  }

  .aside {
    background-color: $secondary-bg;
    margin-bottom: 25px;

    border-radius: 5px;
    box-shadow: 3px 3px 5px #ccc;
    &-img {
      width: 100%;
      height: 30vh;
      border-radius: 0px 0px 5px 5px;
    }
    &-details {
      padding: 10px;
    }
    &-title {
      color: $secondary-color;
      font-size: 1.4em;
    }
  }
}

.projects {
  background-color: $primary-bg;
}
