$primary-color: rgb(104, 199, 243);
$primary-bg: rgb(235, 239, 241);

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $primary-bg;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}

.header {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #bbb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 1.1em;
  &-title {
    span {
      color: $primary-color;
    }
  }
  &-bars {
    font-size: 1.4em;
    color: $primary-color;
  }
}

.navbar {
  display: none;
}

.sidebar {
  width: 45%;
  height: 0vh;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #fff;
  overflow: hidden;
  transition: 0.5s;
  &-times {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.4em;
    color: $primary-color;
  }
  &-list {
    text-align: center;
    &-item {
      margin: 40px;
    }
  }
}

.show-sidebar {
  height: 40vh;
}
